@use 'variables';
@use 'bootstrap/scss/bootstrap-reboot';
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  overflow-x: hidden;
}

body,
.modal {
  // bootstrap adds padding-right for modals and offcanvas, idk why tho
  padding-right: 0 !important;
}

i.bi {
  &[class^='bi-'],
  &[class*=' bi-'] {
    line-height: 1;
  }
}

// Display special icon for links which will open in another tab
a:not(.btn) {
  &[target='_blank'],
  &[target='_window'] {
    &::after {
      font-family: bootstrap-icons !important;
      content: '\F1C5'; // box-arrow-up-right
      display: inline;
      text-decoration: none;
      margin-left: 0.25em;
    }
  }
}
