$primary: #139187;
$secondary: #f8f818;
$link-decoration: none;

@import "~bootstrap";
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background-color: rgb(85,223,130);
}

a:not(.btn) {
  &[target="_blank"], &[target="_window"] {
    &::after {
      font-family: bootstrap-icons !important;
      content: "\F1C5"; // box-arrow-up-right
      display: inline;
      text-decoration: none;
      margin-left: 0.25em;
    }
  }
}